body{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  line-height: 1.5;
  margin:25px;
}
h1{
    color:rgb(0, 0, 0);
    text-align:center;
}
img{
    width:200px;
    border-radius:50%;

}
input,textarea{
    padding:8px;
    margin-top:5px;
}
.about-section{
    display:flex;
    align-items:center;
    gap:20px;
}
@media(max-width:768px){
    .about-section{
        flex-direction:column;
        text-align:center;
    }
}
.skills{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap: 10px;
}
.education{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:10px;
}
h2{
    color:#333;
}
form{
    display:flex;
    flex-direction:column;
    width:300px
}
input,
textarea{
    width:250px;
}
button{
    padding:8px 15px;
    margin-top:10px;
}